@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
  --font-inter: "Inter", "ui-sans-serif", "system-ui";
  --font-poppins: "Poppins", "sans-serif";
  --color-primary: #f4e409;
  --color-secondary: #eeba0b;
  --color-accent: #c36f09;
  --color-danger: #a63c06;
  --color-dark: #710000;
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
}

@layer base {
  h1 {
    font-family: "Poppins";
    font-weight: var(--font-weight-bold);
  }
  h2 {
    font-family: "Poppins";
    font-weight: var(--font-weight-semibold);
  }
  h3 {
    font-family: "Poppins";
    font-weight: var(--font-weight-semibold);
  }
  h4 {
    font-family: "Poppins";
    font-weight: var(--font-weight-semibold);
  }
}

@layer component {
  .button-primary {
    @apply px-7 py-2 rounded-sm font-medium text-white bg-amber-900 transition hover:cursor-pointer hover:scale-110 hover:rotate-2 focus:ring-3 focus:outline-hidden;
  }
}

#root {
  /* max-width: 1440px; */
  margin: 0 auto;
  font-family: "Inter", "sans-serif";
  text-align: center;
}
